%body.layout-demo
  %a.usa-skipnav{:href => "#main-content"} Skip to main content
  %header.usa-header.usa-header-extended{:role => "banner"}
    / Gov banner BEGIN
    -#= render partial: 'page/top/top_banner'
    / Gov banner END
    = render partial: 'page/header/header'
    = render partial: 'page/header/navbar'
  .usa-overlay
  %main#main-content
    = render partial: 'page/sections/hero'
    = render partial: 'page/sections/grid'
    = render partial: 'page/sections/sec_dark'
    = render partial: 'page/sections/sec'
  = render partial: 'page/footer/footer'